<%- include('partials/header') -%>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="one">
	    <div class="sid">
	    <div class="sid1"><img src ="https://i1.wp.com/wtspdp.com/wp-content/uploads/2020/03/funny-47.jpg?fit=386%2C685&ssl=1" style="height: 300px; width: 300px; border-radius: 50% "></div>
	    <div class="sid2">
	    <h1>Siddharth</h1>
	    
	    <p>
	    I am a student of Amity 
	    University and currently 
	    i'am  in third year of my 
	    B.tech .The front end of this 
	    website is designed by me.
	    I have used HTML and CSS
	    in designing this website.



	    </p>
	    </div>
	    </div>
	    <div class="nick">
        
	    <div class="nick1"><img src ="https://i1.wp.com/wtspdp.com/wp-content/uploads/2020/03/funny-47.jpg?fit=386%2C685&ssl=1" style="height: 300px; width: 300px;border-radius: 50% "></div>
	    <div class="nick2">
	    <p><h1>Nikhil</h1></p>
	    <p>
	    I am a student of Amity 
	    University and currently 
	    i'am  in third year of my 
	    B.tech .The back-end end
	    of this website is designed
	    by me.I have extracted the 
	    data which is shown on this 
	    website  the help of API's
	    
	    </p>
	    
	    </div>
	    </div>
</div>
<%- include('partials/footer') -%>
